@{
    Server.ClearError();
    Response.Status = "404 Not Found";
    Response.StatusCode = 404;
}
<h2 style="color:#870e0e">Product Not Found!</h2>
<div style="height:7px;"></div>

<div id="pageContainer" class="pcBlueLinks" style="font-size:23px;">
    Sorry the product or category you tried to access does not exist.<br /><span style="font-size:14px;">Perhaps it was relinked, renamed, or discontinued. Try browing the menus above or searching our site.</span>
</div>