@model H2W_mvc.ViewModels.ProductVM
@using H2W_mvc.ViewModels;

<h2 style="float:left;">@ViewBag.MotorNumber</h2>

<div style="height:7px; clear:both;"></div>

<div id="pageContainer">
    The motor you selected doesn't have it's own webpage yet. Please call for more information.
    
</div><!--//tabContainer-->