<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FTP</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <publishUrl>waws-prod-bay-003.ftp.azurewebsites.windows.net</publishUrl>
    <DeleteExistingFiles>False</DeleteExistingFiles>
    <FtpSitePath>site/wwwroot/</FtpSitePath>
    <UserName>h2w\alexh2w</UserName>
    <_SavePWD>False</_SavePWD>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <FtpPassiveMode>True</FtpPassiveMode>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:lyv7qpfbu2.database.windows.net,1433;Initial Catalog=H2W;User ID=H2W_Admin@lyv7qpfbu2;Password=J3E#$#28!</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)H2WSql-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)H2WtechEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/H2WAzureDB.csdl|res://*/H2WAzureDB.ssdl|res://*/H2WAzureDB.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:lyv7qpfbu2.database.windows.net,1433;Initial Catalog=H2W;User ID=H2W_Admin@lyv7qpfbu2;Password=J3E#$#28!"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)H2WtechEntities_old-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>