<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://h2wtechdev.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>h2wtechdev.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>h2wtechdev</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$h2wtechdev</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="H2W_mvc.Models.UsersContext, H2W_mvc" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="H2WtechEntities" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="H2W_lib.H2WtechEntities, H2W_lib" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="H2WtechEntities_old" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=lyv7qpfbu2.database.windows.net;Initial Catalog=SQL2008R2_916452_h2wtech;Persist Security Info=True;User ID=H2W_Admin;Password=J3E#$#28!;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\H2WtechEntities_old_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/H2WAzureDB.csdl|res://*/H2WAzureDB.ssdl|res://*/H2WAzureDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=lyv7qpfbu2.database.windows.net;initial catalog=SQL2008R2_916452_h2wtech;persist security info=True;user id=H2W_Admin;password=J3E#$#28!;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="H2WSql" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:lyv7qpfbu2.database.windows.net,1433;Initial Catalog=SQL2008R2_916452_h2wtech;Integrated Security=False;User ID=H2W_Admin@lyv7qpfbu2;Password=J3E#$#28!;Connect Timeout=30;Encrypt=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\H2WSql_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:lyv7qpfbu2.database.windows.net,1433;Database=SQL2008R2_916452_h2wtech;User ID=H2W_Admin@lyv7qpfbu2;Password=J3E#$#28!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)H2WSql-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)H2WtechEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)H2WtechEntities_old-Web.config Connection String" />
  </ItemGroup>
</Project>