@{
    ViewBag.Title = "About the Company";
    ViewBag.Description = "We offer a complete line of linear electric motors including: single and dual axis linear steppers, Linear Induction Motors, Limited Angle Torque Motors, Limited Angle Torque Motor, DC brush and brushless linear motors, voice coil actuators, and AC induction motors.";
    ViewBag.Keywords = "Linear Induction Motor, Limited Angle Torque Motors, Limited Angle Torque Motor, Linear Stepper Motor, Linear Stepper Motors, AC Linear Induction Motors, Voice Coil Linear Actuators, Voice Coil Linear Actuator, Linear Stepper Motor, Linear Induction Motors, Voice Coil Actuators, Voice Coil, Voice Coils, Voice Coil Motor, Voice Coil Actuator, Multi Axis Gantry, Multi-Axis Gantry, Linear Stepper Actuator.";
}

<hgroup class="title">
    <h1>@ViewBag.Message</h1>
</hgroup>

<article>
    <h3>Our Commitment</h3>
    <p>
        H2W Technologies, Inc. is dedicated to the design and manufacture of linear and rotary motion products that are used in the motion control industry. We are committed to providing every customer with the optimal solution for their motion application in the shortest possible time, at the lowest possible cost using only the highest quality products.
    </p>
    <br />
    <h3>Our Products</h3>
    <p>
        We offer a complete line of <b>linear electric motors</b> including; <b>single and dual axis linear steppers, DC brush</b> and <b>brushless</b> linear motors, <b>voice coil actuators</b>, and <b>AC induction</b> motors.
        <br />
        <br />
        Our high speed and high precision <b>linear motor driven positioning stages</b> are ideal for both single and multi-axis closed loop servo applications. We also offer a complete line of <b>ball screw, lead screw</b> and <b>belt driven positioning stages</b>. We can provide you either a standard or custom designed positioning stage by itself or as a complete turnkey solution with a servo amplifier, power supply and programmable motion controller.
        <br />
        <br />
        Other motion control products include; <b>limited angle torque motors</b> for compact, limited angular excursion rotary servo applications, <b>3 phase brushless rotary servo motors</b> with matching <b>digital servo amplifiers</b> and <b>permanent magnet linear brakes</b> for failsafe, zero power braking for baggage handling and people moving applications as well as amusement park rides.
        <br />
        <br />
        H2W also offers design services for various types of electromagnetic devices such as magnetic latches, solenoids and rotary motion devices.
        <br />
        <br />
        <b>New products</b> are constantly being developed, so please check our web site <a href="www.h2wtech.com">www.h2wtech.com</a> for the latest developments and new product offerings.
    </p>
    <br />
    <h3>Quality Assurance at H2W</h3>
    <p>
        H2W Technologies, Inc. has developed and implemented a quality management system to demonstrate its ability to provide consistently product that meets or exceeds customer requirements. Our quality Assurance procedures address customer satisfaction through the effective application of the quality system, including continual improvement and the prevention of nonconformity. The quality system complies with the international standard ISO 9001:2008.

    </p>
    <br />

    <h3>Our People</h3>
    <p>
        With over 75 years combined experience in the linear and rotary motion field, our team of engineers can offer you the optimal solution to your most demanding motion control, requirements.
        <br />
        <br />
        Our core engineering team which has worked together for over 25 years consists of: Dr. Walter Hinds - PhD Physics, Fred Wilson - MSEE, and Mark P Wilson - MSME.
        <br />
        <br />
        Please call us anytime at (888)-702-0540 and talk directly with one of our design engineers. We will give you straightforward honest answers to all of your technical questions and we will provide you with a solution for all of your linear and rotary motion control applications.
    </p>
    <br />

    <h3>Industries Served</h3>
    <b>Semiconductor, Medical, Aerospace, Material Handling, People Moving, Amusement Park Rides Packaging, Automotive, and Clean Room</b>
      
</article>