
<div id="cse" style="width: 98%;">Loading</div>


<script src='http://www.google.com/jsapi' type='text/javascript'></script><script type='text/javascript'>google.load('search', '1', { language: 'en' }); google.setOnLoadCallback(function () { var customSearchControl = new google.search.CustomSearchControl('014560468244200486058:WMX870920674'); customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET); customSearchControl.draw('cse'); customSearchControl.execute('@ViewBag.keyword'); }, true);</script>
