@model H2W_mvc.Models.HomeViewModel

@{
    ViewBag.Title = "Test";
}

<h2>Page Not Found</h2>
<br />
Sorry, we couldn't find the page you requested. Have you tried using the search function?



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
